[submodule "mcp-confluence-documentation-rag"]
	path = mcp-confluence-documentation-rag
	url = https://github.com/HoodieYlya13/mcp-confluence-documentation-rag.git
[submodule "confluence-bot-app"]
	path = confluence-bot-app
	url = https://github.com/HoodieYlya13/confluence-bot-app.git
[submodule "confluence-spotlight"]
	path = confluence-spotlight
	url = https://github.com/HoodieYlya13/confluence-spotlight.git
